body {
  background-color: #E3DED3;
}
.navbar-list {
  list-style: none;
  padding: 25;
  margin: 0;
}

.navbar-item {
 
  display: inline-block;
  margin-right: 147px;
  margin-top: 20px;
  color: black;
  font-size: 35px;
}